<?xml version = "1.0" encoding = "UTF-8"?>

<launch>
    <!-- Load joint conrtoller -->
    <rosparam file="$(find scara_robot_description)/config/pid.yaml" command="load"/>

    <!-- Load controller  -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/scara" args=" base_link_link_01_position_controller link_01_link_02_position_controller link_02_link_03_position_controller joint_state_controller"/>

    <!-- Convert joints states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/scara/joint_states" />
    </node>
</launch>