<?xml version = "1.0"?>
    <robot xmlns:xacro="http://www.ros.org/wiki/xacro">
        <gazebo>

            <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
                <joint_name>base_link_link_01</joint_name>   
                <topic>/scara/base_link_link_01_position_controller/command</topic>
                <p_gain>100</p_gain>
                <i_gain>10</i_gain>
                <d_gain>1</d_gain>
                <i_max>1</i_max>
                <i_min>-1</i_min>
                <cmd_max>1000</cmd_max>
                <cmd_min>-1000</cmd_min>
            </plugin>

            <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
                <joint_name>link_01_link_02</joint_name>
                <topic>/scara/link_01_link_02_position_controller/command</topic>
                <p_gain>100</p_gain>
                <i_gain>10</i_gain>
                <d_gain>1</d_gain>
                <i_max>1</i_max>
                <i_min>-1</i_min>
                <cmd_max>1000</cmd_max>
                <cmd_min>-1000</cmd_min>
            </plugin>

            <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
                <joint_name>link_02_link_03</joint_name>
                <topic>/scara/link_02_link_03_position_controller/command</topic>
                <p_gain>100</p_gain>
                <i_gain>10</i_gain>
                <d_gain>1</d_gain>
                <i_max>1</i_max>
                <i_min>-1</i_min>
                <cmd_max>1000</cmd_max>
                <cmd_min>-1000</cmd_min>
            </plugin>
        </gazebo>
</robot>