<?xml version = "1.0"?>
    <robot xmlns:xacro="http://www.ros.org/wiki/xacro">

        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="base_link_link_01">
                <command_interface name="position">
                    <param name="min">-3.14</param>
                    <param name="max">3.14</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="link_01_link_02">
                <command_interface name="position">
                    <param name="min">-3.14</param>
                    <param name="max">3.14</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="link_02_link_03">
                <command_interface name="position">
                    <param name="min">-3.14</param>
                    <param name="max">3.14</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
        </ros2_control>

        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find scara_robot_description)/config/controller_cfg.yaml</parameters>
            </plugin>
        </gazebo>

</robot>